<div class="center jumbotron">    
    <h2>Welcome to Fantasia, A Collaborative Choose-Your-Own-Adventure Platform.</h2>
    <p>
    <%= link_to "Click here to access available stories!", stories_path, class: "btn  btn-primary" %>
    </p>
</div>