<% provide(:title, "Stories") %>
<p>Welcome to the stories library! Below you will find all available stories.</p>

<ul class="row" >
    <% @stories.each do |story| %>
        <li><%= link_to story.title, story %></li>
    <% end %>
</ul>