@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */


body {
    padding-top: 40px;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}
/*typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    
}






/* logo */

.first {
    float: left;
    margin-right: 4px;
    font-size: 1.7em;
    color: red;
    padding-top: 9px;
    font-weight: bold;
}

.second {
    float: left;
    margin-right: 4px;
    font-size: 1.7em;
    color: yellow;
    padding-top: 9px;
    font-weight: bold;
}

.third {
    float: left;
    margin-right: 4px;
    font-size: 1.7em;
    color: #3366ff;
    padding-top: 9px;
    font-weight: bold;
}


.fourth {
    float: left;
    margin-right: 4px;
    font-size: 1.7em;
    color: green;
    padding-top: 9px;
    font-weight: bold;
}

.fifth {
    float: left;
    margin-right: 4px;
    font-size: 1.7em;
    color: red;
    padding-top: 9px;
 font-weight: bold;
}

.sixth {
    float: left;
    margin-right: 4px;
    font-size: 1.7em;
    color: #3366ff;
    padding-top: 9px;
 font-weight: bold;
}

.seventh {
    float: left;
    margin-right: 4px;
    font-size: 1.7em;
    color: yellow;
    padding-top: 9px;
 font-weight: bold;
}

.eighth {
 float: left;
    margin-right: 4px;
    font-size: 1.7em;
    color: red;
    padding-top: 9px;
 font-weight: bold;
}

.navbar-right {
    color: black;
}

/* page */

.page {
  width: 4em;
  float: left;
  text-align: left;
  margin-right: 0.5em;
  display: block
}

.btn {
    margin-top: .5em
}


.tree, .tree ul, .tree li {
     position: relative;
}

.tree ul {
    list-style: none;
    padding-left: 32px;
}

.tree li::before, .tree li::after {
    content: "";
    position: absolute;
    left: -12px;
}

.tree li::before {
    border-top: 1px solid #000;
    top: 9px;
    width: 8px;
    height: 0;
}

.tree li::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: 2px;
}