@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables */


@mixin logo_format {
    float: left;
    margin-right: 4px;
    font-size: 1.7em;
    padding-top: 9px;
    font-weight: bold;
}

/* universal */


body {
    padding-top: 40px;
    margin-top: 70px;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}
/*typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    
}

.jumbotron {
    color: blue;
}



/* footer */

footer {
    margin-top: 60px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    margin-left: 60px;
}

footer small {
    float: left;
    color: maroon;
}


/* logo */

.first {
    @include logo_format;
    color: red;
}

.second {
    @include logo_format;
    color: yellow;
}

.third {
    @include logo_format;
    color: #3366ff;
}


.fourth {
    @include logo_format;
    color: green;
}

.fifth {
    @include logo_format;
    color: red;
}

.sixth {
    @include logo_format;
    color: #3366ff;
}

.seventh {
    @include logo_format;
    color: yellow;
}

.eighth {
    @include logo_format;
    color: red;
}

.navbar-right {
    color: black;
}

/* page */

.page {
  width: 4em;
  float: left;
  text-align: left;
  margin-right: 0.5em;
  display: block
}

.btn {
    margin-top: .5em
}


.tree, .tree ul, .tree li {
     position: relative;
}

.tree ul {
    list-style: none;
    padding-left: 32px;
}

.tree li::before, .tree li::after {
    content: "";
    position: absolute;
    left: -12px;
}

.tree li::before {
    border-top: 1px solid #000;
    top: 9px;
    width: 8px;
    height: 0;
}

.tree li::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: 2px;
}

.content {
    width: 500px;
    height: 380px;
}

/* ratings */

.rating {
 margin-left: 725px;
 color: blue;
}

.rate {
    float: right;
}